footer
	.container
		p  Copyright(c) website name. 
			span Designed by: 
				a(href="#") www.alltemplateneeds.com
			| /  Images from: 
			a(href="#") www.wallpaperswide.com
			|, 
			a(href="#") www.photorack.net